{% paginate collection.products by 6 %}
  {% for product in collection.products %}
    {% if product.featured_image %}
        <img src="{{ product.featured_image | img_url: 'medum' }}" alt="{{ product.featured_image}}">
      {% endif %}

      <span> {{ product.vendor }} </span>
    <a href=" {{ product.url }}">
      {{ product.title }}</a>
  {% else %}
    <p>There are no producs inside of this collections</p>
  {% endfor %}

  {% render 'pagination', pagination: paginate %}

{% endpaginate %}